@(taskForm: Form[TaskData])(implicit messages: Messages, flash: Flash)

@import helper._
@import controllers.TaskDAO

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body class="container">
    @if(flash.get("success").isDefined){
        <div class="alert alert-success">
            @flash.get("success")
        </div>
    }

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger">
            @flash.get("error")
        </div>
    }

    <h1>Todo app:</h1>

    @form(action = routes.Application.createTask){
    <fieldset>
        <legend>Create a task</legend>
        @inputText(taskForm("dueDate"), '_label -> "Due date", 'placeholder -> "1971-06-28")
        @textarea(taskForm("description"), '_label -> "Description", 'placeholder -> "Enter a description")
        <input type="submit" class="btn btn-success" value="Save">
    </fieldset>
    }
</body>
</html>